/* html {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', sans-serif;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:link,
a:visited,
a:hover,
a:active {
  color: transparent;
}

button {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a,
button,
input,
select,
textarea {
  outline-style: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Spoqa Han Sans', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 72px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 700;
  font-size: 21px;
}

h5 {
  font-weight: 400;
  font-size: 18px;
}

h6 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 18px;
} */
